/*Defining the general format for application*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#000000
    
}

/*Defining the properties for the line break under the title*/
hr {
    width: 500px;
}

/*Defining stylistic properties for all elements with ID attribute "title"*/
#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white
}

/*Defining stylistic properties for all elements with ID attribute "board"*/
#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

/*Defining stylistic properties for all elements with class attribute "title"*/
.tile {
    /* Box */
    border: 2px solid rgb(00, 96, 88);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Defining stylistic properties for all elements with class attrbute "correct"*/
.correct {
    background-color: #6AAA64;
    color: white;
    border-color: rgb(00, 96, 88);
}

/*Defining stylistic properties for all elements with class attrbute "present"*/
.present {
    background-color: #C9B458;
    color: white;
    border-color: rgb(00, 96, 88);
}

/*Defining stylistic properties for all elements with class attrbute "absent"*/
.absent {
    background-color: #787C7E;
    color: white;
    border-color:rgb(00, 96, 88);
}

/*Defining stylistic properties for all elements with class attrbute "keyboard-row"*/
.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*Defining stylistic properties for all elements with class attrbute "key-tile"*/
.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(00, 96, 88);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

/*Defining stylistic properties for all elements with class attrbute "enter-key-tile"*/
.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(00, 96, 88);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}